<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Ep</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
   <servlet>
  <description></description>
  <display-name>LoginInsert</display-name>
  <servlet-name>LoginInsert</servlet-name>
  <servlet-class>LoginInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginInsert</servlet-name>
  <url-pattern>/LoginInsert</url-pattern>
  </servlet-mapping>
  <servlet>
  <display-name>LoginDisplay</display-name>
  <servlet-name>LoginDisplay</servlet-name>
  <servlet-class>LoginDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginDisplay</servlet-name>
  <url-pattern>/LoginDisplay</url-pattern>
  </servlet-mapping>
   <servlet>
  <description></description>
  <display-name>RegisterInsert</display-name>
  <servlet-name>RegisterInsert</servlet-name>
  <servlet-class>RegisterInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RegisterInsert</servlet-name>
  <url-pattern>/RegisterInsert</url-pattern>
  </servlet-mapping>
  <servlet>
  <display-name>RegisterDisplay</display-name>
  <servlet-name>RegisterDisplay</servlet-name>
  <servlet-class>RegisterDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RegisterDisplay</servlet-name>
  <url-pattern>/RegisterDisplay</url-pattern>
  </servlet-mapping>
</web-app>